.feedBlock {
  border: #ddd solid 1px;
  border-radius: 7px;
  margin-top: 15px;
  background-color: #fff;
  padding: 10px;
  .feedBlock__header {
    display: grid;
    grid-template-columns: 2fr 17fr 1fr;
    #feedBolck-url-img {
      width: 60px;
      height: 60px;
      border-radius: 100%;
    }
    .feedBlock__header-grid {
      height: 100%;
      display: grid;
      grid-template-rows: 1fr 1fr;
      span {
        margin-left: 10px;
        line-height: 30px;
      }
    }
    #feedBolck-btn {
      & > i {
        float: right;
        font-size: 20px;
        cursor: pointer;
        color: #000000a1;
      }
      & :hover {
        color: black;
      }
    }
  }
  .feedBlock__body {
    & > span {
      display: block;
      padding: 10px;
    }
    .feedBlock__body-img {
      & > img {
        width: 650px;
        height: 650px;
      }
    }
  }
  .feedBlock__footer {
    padding-top: 15px;
    & > img {
      width: 16px;
      height: 16px;
      margin-left: 5px;
    }
    .feedBlock__footer-like {
      margin-left: 5px;
    }
    .feedBlock__footer-comment {
      float: right;
      margin-right: 5px;
    }
    .feedBlock__designLine {
      margin: 10px 0;
      width: 100%;
      height: 1px;
      background-color: #ccc;
    }
    .feedBlock__footer-btn {
      display: grid;
      grid-template-columns: 1fr 1fr;
      & > button {
        background-color: transparent;
        border: none;
        padding: 5px;
        cursor: pointer;
        transition: 0.2s;
        .feedBlock__footer-btn--like,
        .feedBlock__footer-btn--comment {
          width: 20px;
          height: 20px;
          position: relative;
        }
        .feedBlock__footer-btn--like {
          top: 2px;
        }
        .feedBlock__footer-btn--comment {
          top: 4px;
        }
        & > span {
          font-size: 16px;
          margin-left: 5px;
        }
        &:hover {
          background-color: #e9ebee8a;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .feedBlock {
    .feedBlock__body {
      .feedBlock__body-img {
        & > img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
