.friend-block {
  position: relative;
  .friend-block__link {
    #jsResizeImg {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
    .friend-profile__box--effect {
      background: linear-gradient(transparent, rgba(0, 0, 0, 0.7));
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      color: #fff;
      padding: 5px;
      font-size: 12px;
    }
  }
}

@media (max-width: 960px) {
  .friend-block:nth-child(9),
  .friend-block:nth-child(8),
  .friend-block:nth-child(7) {
    display: none;
  }
  .friend-block {
    .friend-block__link {
      & > img {
        width: 125px;
        height: 125px;
      }
    }
  }
}

@media (max-width: 768px) {
  .friend-block:nth-child(6) {
    display: none;
  }
}

@media (max-width: 480px) {
  .friend-block:nth-child(5) {
    display: none;
  }
}
