.friend-block__link {
  .friend-block__BGC {
    background-color: #ccc;
    .friend-block__box {
      text-align: center;
      width: 85px;
      height: 85px;
      background: url(/img/profile_male.png) no-repeat center/100%;
      .friend-profile__box--effect {
        background: linear-gradient(rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0.53));
        width: 85px;
        height: 85px;
        & > span {
          position: relative;
          top: 70px;
          left: -20px;
          color: white;
          font-size: 13px;
        }
      }
    }
  }
}
