.userFriends__body-friendBlock {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  border: $lightGrayLine solid 1px;
  & > a > img {
    width: 125px;
    height: 125px;
    transition: 0.3s;
    object-fit: cover;
    object-position: top;
  }
  .userFriends__body-friendBlock--border {
    display: flex;
    align-items: center;
    border: $lightGrayLine solid 1px;
    border-width: 0 0 0 1px;
    & > a {
      font-size: 18px;
      font-weight: 500;
      color: #365899;
      margin-left: 15px;
    }
  }
  & > button {
    display: flex;
    margin: auto;
    padding: 5px 10px;
    border: #c9c9c9 solid 1px;
    background-color: #f5f6f7;
  }
}

@media (max-width: 960px) {
  .userFriends__body-friendBlock {
    & > a > img {
      width: 100px;
      height: 100px;
    }
    & > button {
      font-size: 12px;
      padding: 4px 8px;
    }
  }
}

@media (max-width: 768px) {
  .userFriends__body-friendBlock {
    & > a > img {
      width: 90px;
      height: 90px;
    }
    & > button {
      font-size: 10px;
    }
    .userFriends__body-friendBlock--border {
      & > a {
        font-size: 16px;
      }
    }
  }
}
