.feed-main__aside-users--block {
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding: 5px;
  margin-top: 10px;
  & > img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }
  .feed-main__aside-users--block-link {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-left: 5px;
    .feed-main__aside-users--block-link-btn {
      margin-left: 2px;
      & > button {
        font-size: 12px;
        margin-bottom: 2px;
        color: $darkGray;
      }
      & > button:nth-child(2) {
        margin-left: 5px;
      }
    }
  }
}
