mixin adBlock(ad = {})
    a.feed-main__aside-ad-link(href="https://github.com/engus93/Wetube_clone", target="_blank")
        img(src="/img/ad-wetube.jpg", alt="ad-site-img")
        p Wetube
        span 여러 동영상을 업로드 하고 볼 수 있는 사이트 입니다.