mixin adBlock(ad = {})
    article.feed-main__aside-ad-block
        a.feed-main__aside-ad-link(href=ad.url, target="_blank")
            img(src=ad.imgUrl, alt="ad-site-img")
            p=ad.title
            span=ad.description