mixin feedBlock(feed = {})
    .feedBlock
        a(href=routes.videoDetail(feed.id))
            img.feedBlock__thumbnail(src=feed.videoFile)
            h4.videoBlock__title=feed.title
            if feed.likes === 1
                h6.feedBlock__likes 1 like
            else
                h6.feedBlock__likes #{feed.likes} likes