mixin friendProfileBlock(friend = {})
    a.friend-block__link(href="#")
        .friend-block__BGC
            .friend-block__box
                .friend-profile__box--effect
                    p.ir_su friend profile
                    span ㅋㅋㅋ
