mixin friendProfileBlock(friend = {})
    articl.friend-block
        a.friend-block__link(href="#")
            h5.ir_su friend profile
            img(src="/img/profile_male.png", alt="")
            .friend-profile__box--effect
                span 김두현