mixin friendPageBlock(friend = {})
    article.userFriends__body-friendBlock
        a(href="#")
            img(src="/img/profile_male.png", alt="friend profile")
        .userFriends__body-friendBlock--border
            a(href="#")
                span 김두현
        button Remove Friend