mixin friendPageBlock(friend = {})
    article.userFriends__body-friendBlock
        a(href=`/feeds/${friend.idx}`)
            img(src=friend.profile, alt="friend profile")
        .userFriends__body-friendBlock--border
            a(href=`/feeds/${friend.idx}`)
                span=friend.name
        button Remove