mixin friendPageBlock(friend = {})
    article.userFriends__body-friendBlock
        a(href="#")
            img(src="/img/ad-github.png", alt="friend profile")
        .userFriends__body-friendBlock--border
            a(href="#")
                span 김두현
        button Remove