mixin randomFriendBlock(user = {})
    .feed-main__aside-users--block
        img(src="/img/profile_male.png", alt="user profile")
        .feed-main__aside-users--block-link
            a(href="#") user
            .feed-main__aside-users--block-link-btn
                button
                    i.fas.fa-user-plus  Add Friend
                button
                    i.fas.fa-minus-circle  Remove