mixin randomFriendBlock(ramdomUser = {})
    .feed-main__aside-users--block
        a(href=`/feeds/${ramdomUser.idx}`)
            img(src=ramdomUser.profile, alt="user profile")
        .feed-main__aside-users--block-link
            a(href=`/feeds/${ramdomUser.idx}`)=ramdomUser.name
            .feed-main__aside-users--block-link-btn
                button
                    i.fas.fa-user-plus  Add
                button
                    i.fas.fa-minus-circle  Remove