mixin searchUsersBlock(searchUser = {})
    .search-users--block
        .search-users--block-profile
            img(src="/img/profile_male.png", alt="user profile")
        .search-users--block-link
            a(href="#") user
            .search-users--block-link-btn
                button add Friend
                button Remove Block