extends ./layouts/main

block content
        .edit-profile
            .edit-profile__wrapper
                h1.ir_su Edit Profile
                section.edit-profile__box
                    nav.edit-profile__box-nav
                        a.not-active(href=`/user${routes.editProfile}`) Edit Profile
                        a(href=`#`) Edit PassWord
                        a(href=`#`) Edit Info
                    article.edit-profile__box-form
                        form 
                            .edit-profile__box-form--backgroud-img(style=`background-image: url(${logged.cover});`)
                                .edit-profile__box-form--backgroud-effect
                                    img(src=logged.profile, alt="user profile")
                                    span=logged.name
                            .edit-profile__box-form--inputs
                                .edit-profile__box-form--inputs-coverImg
                                    label(for="editProfileFile") Cover Image
                                    input(type="file", name="profile", id="editProfileFile")
                                .edit-profile__box-form--inputs-profileImg
                                    label(for="editCoverFile") Profile Image
                                    input(type="file", name="cover", id="editCoverFile")
                                input(type="submit", value="Change the picture")