extends ./layouts/main
include ./mixins/feedMainBlock

block content
    .feed-main
        .feed-main__wrapper
            h1.ir_su Feed-Main
            .feed-main__gridLayout
                .feed-main__gridLayout-feed
                    h3.ir_su feed
                    .feed-main__upload
                        
                    each item in feeds
                        +feedBlock({
                            idx: item.idx,
                            writer: item.writer,
                            createdAt: item.createdAt,
                            fileUrl: item.fileUrl,
                            description: item.description,
                            likes: item.likes
                        })
                .feed-main__gridLayout-ad
                    h3 ad