extends ./layouts/main.pug

block content
    .feed-search
        .feed-search__wrapper
            h1.ir_su Feed-Search
            .feed-search__gridLayout
                aside.feed-search__gridLayout-aside
                    h3.ir_su aside
                    include ./partials/asideUsers
                    include ./partials/asideAd
                    span Facebook &copy; #{new Date().getFullYear()}
                section.feed-search__gridLayout-feed
                    h3.ir_su feed search
                    article.feed-search__article-users
                        include ./partials/feedSearchUsers
                    article.feed-search__article-feeds
                        include ./partials/feedSearchInFeed
