extends ./layouts/main
include ./mixins/feedMainBlock

block content
    .bgc
        .feed-main
            .feed-main__wrapper
                h1.ir_su Feed-Main
                .feed-main__gridLayout
                    section.feed-main__gridLayout-feed
                        h3.ir_su feed
                        article.feed-main__upload
                            include ./partials/feedUpload.pug
                        article.feed-main__feeds
                            each item in feeds
                                +feedBlock({
                                    idx: item.idx,
                                    writer: item.writer,
                                    writerIdx: item.writer_idx,
                                    writerProfile: item.profile,
                                    createdAt: item.createdAt,
                                    fileUrl: item.fileUrl,
                                    description: item.description,
                                    likes: item.likes
                                })
                    aside.feed-main__gridLayout-aside
                        section.aside-block
                            h3.ir_su aside
                            include ./partials/asideUsers
                            include ./partials/asideAd
                            span Facebook &copy; #{new Date().getFullYear()}