extends ./layouts/main

block content
    .bgc
        .feed-main
            .feed-main__wrapper
                h1.ir_su Feed-Main
                .feed-main__gridLayout
                    aside.feed-main__gridLayout-aside
                        h3.ir_su aside
                        include ./partials/asideUsers
                        include ./partials/asideAd
                        span Facebook &copy; #{new Date().getFullYear()}
                    section.feed-main__gridLayout-feed
                        h3.ir_su feed
                        section.feed-main__upload
                            include ./partials/feedUpload
                        //- value Feed Paging Number
                        section#feedSection(value=0)
                            include ./partials/feedSection