extends ./layouts/main.pug

block content
    .homePage__background
        .homePage__container
            .homePage__info
                p Facebook에서 전세계에 있는 친구, 가족, 지인들과 함께 이야기를 나눠보세요.
                img(src="https://static.xx.fbcdn.net/rsrc.php/v3/yi/r/OBaVg52wtTZ.png", alt="communication")
            .homePage__join
                .homePage__join-boxTitle
                    h4 가입하기
                    h5 항상 지금처럼 무료로 즐기실 수 있습니다.
                form
                    .homePage__join-form
                        input(type="name", name="userName", aria-="name", placeholder="이름")
                        input(type="email", name="email", aria-="email", placeholder="이메일")
                        input(type="password", name="password", aria-="password", placeholder="비밀번호")
                        input(type="password", name="password1", aria-="password", placeholder="비밀번호 확인")
                        label(for="homePage__join-form--birth") 생일
                        #homePage__join-form--birth
                            select(name="birthYear")
                                option(value="2000", selected) 2000
                            span 년
                            select(name="birthMonth")
                                option(value="2000", selected) 1
                            span 월
                            select(name="birthDay")
                                option(value="2000", selected) 1
                            span 일
                        #homePage__join-form--sex
                            input(type="radio", name="gender", value="남성", checked)
                            |남성
                            input(type="radio", name="gender", value="여성")
                            |여성
                        p#homePage__join-formTerms 가입하기 버튼을 클릭하면 Facebook의 약관, 데이터 정책 및 쿠키 정책에 동의하게 됩니다. Facebook으로부터 SMS 알림을 받을 수 있으며 알림은 언제든지 옵트 아웃할 수 있습니다.
                        input(type="submit",id="homePage__join-form--btn", value="가입하기")