.ad-block {
  .feed-main__aside-users {
    background-color: white;
    border-radius: 7px;
    padding: 10px;
  }
  .feed-main__aside-ad {
    margin-top: 15px;
    padding: 10px;
    border-radius: 7px;
    background-color: white;
  }
}
