.feed-main__aside-ad {
  margin-top: 15px;
  padding: 12px;
  border-radius: 7px;
  background-color: white;
  & > h5 {
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .feed-main__aside-ad-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .feed__gridLayout-aside-wrap {
      .feed-main__aside-ad {
        & > span {
          display: none;
        }
      }
    }
  }
}
