.feed__gridLayout-aside-wrap {
  & > span {
    display: block;
    font-size: 12px;
    margin-top: 15px;
    color: #737373;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .feed__gridLayout-aside-wrap {
    & > span {
      display: none;
    }
  }
}
