.feed-main__gridLayout-aside,
.feed-user__gridLayout-aside,
.feed-search__gridLayout-aside {
  & > span {
    display: block;
    font-size: 12px;
    margin-top: 15px;
    color: #737373;
    text-align: center;
  }
}
