.header__dropMenu {
  display: none;
  font-weight: bold;
  & > li {
    float: right;
    list-style: none;
    .header__dropMenu--icon {
      width: 30px;
      height: 30px;
      margin-top: 10px;
      margin-bottom: 9px;
      cursor: pointer;
    }
    .header__dropMenu-list {
      width: 140px;
      position: absolute;
      right: -10px;
      // 평소에 감추기
      visibility: hidden;
      // 흩날리는 효과
      opacity: 0;
      // 날라오는 효과
      transform: translateY(-2em);
      // 효과 설정
      transition: all 0.3s ease-in-out 0s;

      .header__dropMenu-link,
      .header__dropMenu-div {
        background: #3b5898;
        & > a,
        div {
          color: #cccccc;
          display: block;
          font-weight: 300;
          line-height: 45px;
          padding: 0 15px;
          cursor: pointer;
          & > img {
            width: 30px;
            height: 30px;
            position: relative;
            top: 10px;
            right: 5px;
            border-radius: 100%;
            transition: 0.3s;
            object-fit: cover;
            object-position: top;
            border: rgba(0, 0, 0, 0.1) solid 1px;
          }
        }
      }
      .menuUserFeed {
        padding-left: 7px;
        & > a > span {
          margin-left: 3px;
        }
      }
      .menuUserFriend {
        padding-left: 10px;
        & > div > i {
          margin-left: -3px;
        }
        & > div > span {
          margin-left: 12px;
        }
      }
      .menuUserNotice {
        padding-left: 10px;
        & > div > span {
          margin-left: 15px;
        }
      }
      .menuUserLogout {
        padding-left: 10px;
        & > a > span {
          margin-left: 13px;
        }
      }
    }
    // Drop Menu Open Animation
    .header__dropMenu-list--open {
      // 조건 부합하면 비추기
      visibility: visible !important;
      // 흩날리는 효과
      opacity: 1 !important;
      // 날라오는 효과
      transform: translateY(0%) !important;
      // 효과 딜레이
      transition-delay: 0s, 0s, 0.3s !important;
    }
  }
}

@media (max-width: 768px) {
  .header__dropMenu {
    display: inline;
  }
}
