.header__dropMenu {
  display: none;
  font-weight: bold;
  & > li {
    float: right;
    list-style: none;
    &:focus-within,
    &:hover,
    &:focus {
      .header__dropMenu--open-list {
        visibility: visible; /* shows sub-menu */
        opacity: 1;
        z-index: 1;
        transform: translateY(0%);
        transition-delay: 0s, 0s, 0.3s; /* this removes the transition delay so the menu will be visible while the other styles transition */
      }
    }
    .header__dropMenu--icon {
      width: 30px;
      height: 30px;
      margin-top: 10px;
      margin-bottom: 9px;
      cursor: pointer;
    }
    .header__dropMenu--open-list {
      // display: none;
      width: 140px;
      right: -10px;
      visibility: hidden; /* hides sub-menu */
      opacity: 0;
      position: absolute;
      top: 100%;
      transform: translateY(-2em);
      z-index: -1;
      transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s,
        z-index 0s linear 0.01s;
      .header__dropMenu-link {
        background: #3b5898;
        & > a {
          color: #cccccc;
          display: block;
          font-weight: 300;
          line-height: 45px;
          padding: 0 15px;
          & > img {
            width: 20px;
            height: 20px;
            position: relative;
            top: 5px;
            right: 5px;
            border-radius: 100%;
          }
        }
      }
      .menuUserFeed {
        padding-left: 12px;
        & > a > span {
          margin-left: 7px;
        }
      }
      .menuUserFriend {
        padding-left: 10px;
        & > a > i {
          margin-left: -3px;
        }
        & > a > span {
          margin-left: 12px;
        }
      }
      .menuUserNotice {
        padding-left: 10px;
        & > a > span {
          margin-left: 15px;
        }
      }
      .menuUserLogout {
        padding-left: 10px;
        & > a > span {
          margin-left: 13px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .header__dropMenu {
    display: inline;
  }
}
