.edit-userDetail__box-form-password {
  .edit-userDetail__box-form-password-inputs {
    display: grid;
    grid-template-rows: repeat(3, 1fr) 2fr;
    padding: 30px 50px;
    border: $grayLine solid 1px;
    background-color: white;
    .edit-userDetail__box-form-password-inputs--oldPassword,
    .edit-userDetail__box-form-password-inputs--newPassword,
    .edit-userDetail__box-form-password-inputs--newPasswordRe {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 10px;
      text-align: right;
      & > * {
        padding: 10px;
        font-size: 16px;
      }
    }
    .edit-userDetail__box-form-password-inputs--submit {
      display: flex;
      align-items: center;
      justify-content: center;
      & > input {
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 10px;
        cursor: pointer;
      }
      & :hover {
        background-color: $grayHover;
      }
    }
  }
}
