.editPassword {
  .editPassword__wrapper {
    .editPassword__header {
      margin-top: 20px;
      background-color: $lightGrayColor;
      border: $grayLine solid 1px;
      border-bottom: none;
      .fa-lock {
        margin-left: 10px;
        color: #aaa;
        & > h1 {
          display: inline-block;
          padding: 12px;
          color: black;
        }
      }
    }
    .editPassword-form-password {
      .editPassword-form-password-inputs {
        display: grid;
        grid-template-rows: repeat(3, 1fr) 2fr;
        padding: 30px;
        border: $grayLine solid 1px;
        background-color: white;
        .editPassword-form-password-inputs--oldPassword,
        .editPassword-form-password-inputs--newPassword,
        .editPassword-form-password-inputs--newPasswordRe {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          padding: 10px;
          text-align: right;
          & > * {
            padding: 5px;
            font-size: 16px;
          }
          & > input {
            margin-right: auto;
            border: $grayLine solid 1px;
            border-radius: 3px;
          }
          & > label {
            display: flex;
            justify-content: flex-end;
            align-items: center;
          }
        }
        .editPassword-form-password-inputs--submit {
          display: flex;
          align-items: center;
          justify-content: center;
          & > input {
            padding: 10px 20px;
            font-size: 16px;
            border-radius: 10px;
            cursor: pointer;
          }
          & :hover {
            background-color: $grayHover;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .editPassword {
    .editPassword__wrapper {
      .editPassword-form-password {
        .editPassword-form-password-inputs {
          .editPassword-form-password-inputs--oldPassword,
          .editPassword-form-password-inputs--newPassword,
          .editPassword-form-password-inputs--newPasswordRe,
          .editPassword-form-password-inputs--submit {
            & > input,
            label {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .editPassword {
    .editPassword__wrapper {
      .editPassword-form-password {
        .editPassword-form-password-inputs {
          .editPassword-form-password-inputs--oldPassword,
          .editPassword-form-password-inputs--newPassword,
          .editPassword-form-password-inputs--newPasswordRe {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, 1fr);
            & > input {
              width: 60%;
              margin: auto;
            }
            & > label {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              margin-left: 15%;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .editPassword {
    .editPassword__wrapper {
      .editPassword__header {
        .fa-lock {
          & > h1 {
            padding: 8px;
          }
        }
      }
      .editPassword-form-password {
        .editPassword-form-password-inputs {
          grid-template-rows: repeat(4, 1fr);
          padding: 15px;
          .editPassword-form-password-inputs--oldPassword,
          .editPassword-form-password-inputs--newPassword,
          .editPassword-form-password-inputs--newPasswordRe {
            & > input,
            label {
              font-size: 10px;
            }
          }
          .editPassword-form-password-inputs--submit {
            & > input {
              font-size: 10px;
              padding: 5px 15px;
            }
          }
        }
      }
    }
  }
}
