#jsFeedImageZoom {
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: calc(100% + 50px);
  position: fixed;
  top: -50px;
  left: 0;
  z-index: 1;
  .feedBlock-imageZoom {
    top: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    & > article {
      position: relative;
      width: 80%;
      height: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.5);
      & > img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
      & > i {
        display: none;
        top: 7px;
        right: 10px;
        color: white;
        font-size: 22px;
        cursor: pointer;
        position: absolute;
        &:hover {
          color: gray;
        }
      }
      &:hover > i {
        display: block;
      }
    }
  }
}
