.feed-main__upload-wrapper {
  width: 100%;
  border-radius: 7px;
  display: grid;
  grid-template-rows: 1fr 7fr;
  background-color: white;
  border: 1px solid #dddfe2;

  .feed-main__upload-title {
    display: flex;
    align-items: center;
    padding-left: 10px;
    background-color: #f5f6f7;
    border-radius: 7px 7px 0 0;
    border-bottom: 1px solid #dddfe2;
  }
  .feed-main__upload-form {
    display: grid;
    grid-template-rows: 4fr 1fr;
    .feed-main__upload-form-description {
      display: grid;
      grid-template-columns: 1fr 9fr;
      & > img {
        width: 50px;
        height: 50px;
        margin-top: 8px;
        margin-left: 8px;
        border-radius: 100%;
        transition: 0.3s;
        object-fit: cover;
        object-position: top;
        border: rgba(0, 0, 0, 0.1) solid 1px;
      }
      & > textarea {
        font-family: "Noto Sans KR", sans-serif;
        font-size: 14px;
        padding: 15px 25px 15px 15px;
        border: none;
        resize: none;
      }
    }
    #JsUploadpreviewBox {
      display: none;
      position: relative;
      & > img {
        position: relative;
        left: 10px;
        bottom: -5px;
        width: 80px;
        height: 80px;
        object-fit: cover;
        object-position: top;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
      }
      .uploadPreview--hover-effect {
        position: absolute;
        top: 5px;
        left: 10px;
        width: 80px;
        height: 80px;
        background-color: transparent;
        & > i {
          visibility: collapse;
        }
        &:hover {
          background: rgba(0, 0, 0, 0.2);
          & > i {
            visibility: visible;
            margin: 3px;
            width: 15px;
            height: 15px;
            float: right;
            color: gray;
            text-align: center;
            border-radius: 100%;
            cursor: pointer;
            &:hover {
              color: white;
            }
          }
        }
      }
    }
    .feed-main__upload-form-file {
      display: grid;
      grid-template-columns: 9fr 1fr;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid #dddfe2;
      & :nth-child(1) {
        height: 30px;
        display: flex;
        align-items: center;
        margin-left: 10px;
        border-radius: 15px;
        padding: 5px 20px 5px 35px;
        background: $lightGrayColor url(/img/photo-upload.png) 5px no-repeat;
        background-size: 25px 25px;
        cursor: pointer;
        &:hover {
          background-color: #eee;
        }
      }
      & :nth-child(2) {
        display: none;
      }
      & :nth-child(3) {
        margin-right: 10px;
        font-size: 14px;
        padding: 7px 25px;
        border-radius: 5px;
        cursor: pointer;
        background: #f5f6f7;
        transition: 0.2s;
      }
      & :nth-child(3):hover {
        background: #c7c7c785;
      }
    }
  }
}
