.header {
  background-color: #3b5998;
  background-image: linear-gradient(#4e69a2, #3b5998 50%);
  border-bottom: 1px solid #133783;
  padding: 0 0 6px;
  height: 50px;
  z-index: 1;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  .header__wrapper {
    width: 900px;
    height: 50px;
    margin: 0 auto;
    .header__logo {
      display: inline;
      font-size: 30px;
      color: white;
      text-transform: lowercase;
      padding-bottom: 10px;
      transition: 0.2s;
      cursor: pointer;
      & > a {
        position: relative;
        top: 4px;
      }
      &:hover {
        color: $hoverColor;
      }
    }
    .header__search-bar {
      display: inline-block;
      & > form {
        display: flex;
        align-items: center;
        height: 50px;
        margin-left: 30px;
        #header__searchBar {
          min-width: 150px;
          width: 480px;
          font-size: 16px;
          padding: 5px 10px;
          border-radius: 5px 0 0 5px;
          height: 30px;
        }
        #header__searchBar-btn {
          width: 50px;
          position: relative;
          top: 0;
          height: 30px;
          border-radius: 0 2px 2px 0;
          background: #eee url(/img/search.png) center no-repeat;
          background-size: 25px 25px;
          cursor: pointer;
          &:hover {
            background-color: #ddd;
          }
        }
      }
    }
    .header__profile {
      float: right;
      width: 11%;
      height: 50px;
      display: flex;
      align-items: center;
      & > a {
        & > img {
          width: 30px;
          height: 30px;
          border-radius: 100%;
          transition: 0.3s;
          object-fit: cover;
          object-position: top;
          border: rgba(0, 0, 0, 0.1) solid 1px;
        }
        & > span {
          margin-left: 10px;
          color: white;
          font-size: 17px;
          position: relative;
          top: -8px;
          transition: 0.2s;
        }
        &:hover {
          & > span {
            color: $hoverColor;
          }
        }
      }
    }
    .header__subMenu {
      height: 100%;
      display: flex;
      align-items: center;
      float: right;
      & > ul {
        display: inline-block;
        margin-left: 20px;
        .fas {
          font-size: 25px;
          transition: 0.2s;
          &:hover {
            color: white;
          }
          .header__subMenu-friend {
            margin-left: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .header {
    .header__wrapper {
      width: 90%;
      .header__search-bar {
        width: 60%;
      }
    }
  }
}

@media (max-width: 960px) {
  .header {
    .header__wrapper {
      .header__profile {
        width: 13%;
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    .header__wrapper {
      .header__search-bar {
        width: 80%;
      }
      .header__profile,
      .header__subMenu {
        display: none;
      }
    }
  }
}

@media (max-width: 480px) {
  .header {
    .header__wrapper {
      .header__search-bar {
        width: 75%;
      }
    }
  }
}
