.header {
  background-color: #3b5998;
  background-image: linear-gradient(#4e69a2, #3b5998 50%);
  border-bottom: 1px solid #133783;
  padding: 0 0 6px;
  height: 50px;
  z-index: 1;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  .header__wrapper {
    width: 980px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    .header__logo {
      font-size: 30px;
      color: white;
      text-transform: lowercase;
      padding-bottom: 10px;
      transition: 0.2s;
      & > a {
        position: relative;
        top: 4px;
      }
      &:hover {
        color: $hoverColor;
      }
    }
    .header__search-bar {
      #header__searchBar {
        min-width: 150px;
        width: 550px;
        font-size: 16px;
        padding: 5px 10px;
        border-radius: 5px 0 0 5px;
      }
      #header__searchBar-btn {
        width: 50px;
        position: relative;
        top: -0.5px;
        padding: 6.5px 10px;
        border-radius: 0 2px 2px 0;
        background: #eee url(https://img.icons8.com/cotton/64/000000/search.png)
          center no-repeat;
        background-size: 25px 25px;
        cursor: pointer;
        &:hover {
          background-color: #ddd;
        }
      }
    }
    .header__profile {
      & > a {
        display: flex;
        align-items: center;
        & > img {
          width: 30px;
          height: 30px;
          border-radius: 13px;
          background-color: #ccc;
        }
        & > span {
          margin-left: 10px;
          color: white;
          font-size: 17px;
          position: relative;
          top: -2px;
          transition: 0.2s;
        }
        &:hover {
          & > span {
            color: $hoverColor;
          }
        }
      }
    }
    .header__subMenu {
      display: flex;
      justify-content: space-between;
      & > ul {
        margin-left: 25px;
        .fas {
          font-size: 25px;
          transition: 0.2s;
          &:hover {
            color: white;
          }
          .header__subMenu-friend {
            margin-left: 0;
          }
        }
      }
    }
  }
}
