.userFriends {
  background-color: white;
  border: $grayLine solid 1px;
  margin-top: 20px;
  .userFriends__wrapper {
    width: 980px;
    margin: 0 auto;
    .userFriends__header {
      overflow: hidden;
      background-color: #f5f6f7;
      margin-right: 2px;
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      border-bottom: #c9c9c9 solid 1px;
      padding-bottom: 20px;
      & > i {
        margin-left: 10px;
        color: #aaa;
        & > h1 {
          display: inline-block;
          padding: 12px;
          color: black;
        }
      }
      .userFriends__header--search {
        border: $lightGrayLine solid 1px;
        padding: 3px 3px 3px 5px;
        margin: auto 15px auto auto;
        background-color: white;
        #userFriendSearchSubmit {
          background: transparent url(/img/search.png) center no-repeat;
          background-size: 40%;
          border-left: #c9c9c9 solid 1px;
          padding: 3px 12px;
          cursor: pointer;
        }
      }
    }
    .userFriends__body-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
      padding: 15px;
    }
  }
}

@media (max-width: 1024px) {
  .userFriends {
    .userFriends__wrapper {
      width: 100%;
      .userFriends__header {
        margin-right: 0;
      }
    }
  }
}

@media (max-width: 600px) {
  .userFriends {
    .userFriends__wrapper {
      .userFriends__header {
        .userFriends__header--search {
          & > input {
            font-size: 10px;
          }
        }
      }
      .userFriends__body-grid {
        grid-template-columns: 1fr;
      }
    }
  }
}
