include ../mixins/adBlock

section.feed-main__aside-ad
    h5 AD - My site
    section.feed-main__aside-ad-grid
        each item in asideAd
            +adBlock({
                    url: item.url,
                    imgUrl: item.imgUrl,
                    title: item.title,
                    description: item.description
                })