include ../mixins/randomFriendBlock
include ../mixins/adBlock

section.ad-block
    h3.ir_su aside
    article.feed-main__aside-users
        h5 Random Users
        each item in [0,0,0,0,0]
            +randomFriendBlock({
                idx: item.idx,
                profile: item.profile,
                name: item.name
            })
    article.feed-main__aside-ad
        h5 AD
        each item in [0,0,0]
            +adBlock({
                    idx: item.idx,
                    profile: item.profile,
                    name: item.name
                })