include ../mixins/randomFriendBlock

article.feed-main__aside-users
    h5 Random Users
    each item in ramdomUsers
        +randomFriendBlock({
            idx: item.idx,
            profile: item.profile,
            name: item.name
        })