include ../mixins/friendProfileBlock

section.feed-main__aside-friend
    header.feed-main__aside-friend-link--grid
        a(href=`/user${routes.userFriends}`)
            img(src="/img/friend.png", alt="user friends icon")
            h5 Friend
            span 283
    .feed-main__aside-friend-grid
        each friendProfileBlock in [0,0,0,0,0,0,0,0,0]
            +friendProfileBlock({
                })