.header__dropMenu
    li.header__dropMenu--list
        img.header__dropMenu--icon(src="/img/menu.png", alt="menu icon")
        ul.header__dropMenu--open-list
            li.header__dropMenu-link.menuUserFeed
                a(href=routes.feedsUser(user.idx), title="My feed")
                    img(src=user.profile, alt="user profile")
                    span=user.name
            li.header__dropMenu-div.menuUserFriend
                #jsWaitFriendDiv
                    i.fas.fa-user-friends
                    span Friend
            li.header__dropMenu-div.menuUserNotice
                #jsWaitNoticeDiv
                    i.fas.fa-bell
                    span Notice
            li.header__dropMenu-link.menuUserLogout
                a(href=routes.logout, title="Log Out")
                    i.fas.fa-sign-out-alt
                    span Log Out