.editPassword
    section.editPassword__wrapper
        .editPassword__header
            i.fas.fa-lock
                h1 Edit Password
        form.editPassword-form-password
            .editPassword-form-password-inputs
                .editPassword-form-password-inputs--oldPassword
                    label(for="changePwOld") 현재 비밀번호
                    input(type="password", name="changePwOld" ,id="changePwOld", placeholder="8 ~ 16자")
                .editPassword-form-password-inputs--newPassword
                    label(for="changePwOld") 새로운 비밀번호
                    input(type="password", name="changePwOld" ,id="changePwOld", placeholder="8 ~ 16자")
                .editPassword-form-password-inputs--newPasswordRe
                    label(for="changePwOld") 새로운 비밀번호 확인
                    input(type="password", name="changePwOld" ,id="changePwOld", placeholder="8 ~ 16자")
                .editPassword-form-password-inputs--submit
                    input(type="submit", value="Edit Password")