form.edit-userDetail__box-form-password
    .edit-userDetail__box-form-password-inputs
        .edit-userDetail__box-form-password-inputs--oldPassword
            label(for="changePwOld") 현재 비밀번호
            input(type="password", name="changePwOld" ,id="changePwOld", placeholder="8 ~ 16자")
        .edit-userDetail__box-form-password-inputs--newPassword
            label(for="changePwOld") 새로운 비밀번호
            input(type="password", name="changePwOld" ,id="changePwOld", placeholder="8 ~ 16자")
        .edit-userDetail__box-form-password-inputs--newPasswordRe
            label(for="changePwOld") 새로운 비밀번호 확인
            input(type="password", name="changePwOld" ,id="changePwOld", placeholder="8 ~ 16자")
        .edit-userDetail__box-form-password-inputs--submit
            input(type="submit", value="Edit Password")