.editPassword
    section.editPassword__wrapper
        .editPassword__header
            i.fas.fa-lock
                h1 Edit Password
        form.editPassword-form-password
            .editPassword-form-password-inputs
                .editPassword-form-password-inputs--oldPassword
                    label(for="changePwOld") Current Password
                    input(type="password", name="changePwOld" ,id="changePwOld", placeholder="6 ~ 16자", minlength="6", maxlength="16", required)
                .editPassword-form-password-inputs--newPassword
                    label(for="changePwOld") New Password
                    input(type="password", name="newPassword" ,id="newPassword", placeholder="6 ~ 16자", minlength="6", maxlength="16", required)
                .editPassword-form-password-inputs--newPasswordRe
                    label(for="changePwOld") Confirm New Password
                    input(type="password", name="newPasswordRe" ,id="newPasswordRe", placeholder="6 ~ 16자", minlength="6", maxlength="16", required)
                .editPassword-form-password-inputs--submit
                    input(type="submit", value="Edit Password", id="changePasswordBtn")