form.edit-userDetail__box-form-profile
    .edit-userDetail__box-form-profile-inputs
        .edit-userDetail__box-form-profile-inputs--coverImg
            label(for="editProfileFile") Cover Image
            input(type="file", name="profile", id="editProfileFile")
        .edit-userDetail__box-form-profile-inputs--profileImg
            label(for="editCoverFile") Profile Image
            input(type="file", name="cover", id="editCoverFile")
        input(type="submit", value="Edit Profile")