.feed-main__upload-wrapper
    .feed-main__upload-title
        h5 Create Post
    form.feed-main__upload-form(action=`/feeds${routes.feedsUpload}`, method="post", enctype="multipart/form-data")
        .feed-main__upload-form-description
            img(src=user.profile, alt="profile")
            //- window.innerWidth 이거로 길이 가져와서 rows 크기 맞춰 주기
            textarea(name="uploadText", cols="30", rows="7", placeholder="What's on your mind?")
        .feed-main__upload-form-file
            input(type="file", name="uploadFeed", accept="video/*, image/*")
            input(type="submit", value="Share")