.feed-main__upload-wrapper
    .feed-main__upload-title
        h5 Create Post
    form.feed-main__upload-form
        .feed-main__upload-form-description
            img(src=user.profile, alt="profile")
            textarea(name="uploadText", cols="30", rows="7", placeholder="What's on your mind?")
        .feed-main__upload-form-file
            input(type="file", name="uploadFile", accept="video/*, image/*")
            input(type="submit", value="Share")