include ../mixins/feedMainBlock

each item in feeds
    +feedBlock({
        idx: item.idx,
        writer: item.writer,
        writerIdx: item.writer_idx,
        writerProfile: item.profile,
        createdAt: item.createdAt,
        fileUrl: item.fileUrl,
        description: item.description,
        likes: item.likes,
        comments: item.comments
    })