include ../mixins/feedMainBlock

include ./feedImageZoom
section.feed-search__feeds
    if feeds.length === 0
        .feed-search__feeds--notFound
            h5 Search Feeds
            include ../partials/notFound
    else
        h5.ir_su Search Feeds
        each item in feeds
            +feedBlock({
                idx: item.idx,
                writer: item.writer,
                writerIdx: item.writer_idx,
                writerProfile: item.profile,
                createdAt: item.createdAt,
                fileUrl: item.fileUrl,
                description: item.description,
                likes: item.likes
            })