include ../mixins/feedMainBlock

#jsFeedBlockEditCover
    article.feedBlock-edit-wrapper
        .feedBlock-edit__upload-title
            h5 Edit Post
        form.feedBlock-edit__upload-form(action=`/feeds${routes.feedsEdit}`, method="post", enctype="multipart/form-data")
            .feedBlock-edit__upload-form-description
                img(src=user.profile, alt="profile")
                //- window.innerWidth 이거로 길이 가져와서 rows 크기 맞춰 주기
                textarea(name="uploadText", id="jsEditUploadTextarea", cols="30", rows="8", placeholder="What's on your mind?", required)
                input(type="hidden", id="jsFeedInputIdx", name="feedInputIdx" value="")
            #JsEditUploadpreviewBox
                img(alt="upload file preview", id="jsEditUploadPreview")
                .uploadPreview--hover-effect
                    i.fas.fa-times#jsEditImgDeleteBtn
            .feedBlock-edit__upload-form-file
                label(for="jsEditFeedUpload") Photo
                input(type="file", id="jsEditFeedUpload", name="uploadFeed", accept="image/*")
                input(type="submit", value="Edit Post")
each item in feeds
    +feedBlock({
        idx: item.idx,
        writer: item.writer,
        writerIdx: item.writer_idx,
        writerProfile: item.profile,
        createdAt: item.createdAt,
        fileUrl: item.fileUrl,
        description: item.description,
        likes: item.likes,
        comments: item.comments,
        edited: item.edited
    })
