#jsFeedImageZoom
    section.feedBlock-imageZoom
        article
            img(src="/img/background_img.jpg", alt="feed click image zoom", id="jsImageZoom")
            i.fas.fa-times#jsImgCloseBtn