.footer-loginPage
    .footer-loginPage__wrapper
        ul
            a(href="#")
                li 한국어
            a(href="#")
                li English (US)
            a(href="#")
                li Tiếng Việt
            a(href="#")
                li Bahasa Indonesia
            a(href="#")
                li ภาษาไทย
            a(href="#")
                li Español
            a(href="#")
                li 中文(简体)
            a(href="#")
                li 日本語
            a(href="#")
                li Português (Brasil)
            a(href="#")
                li Français (France)
            a(href="#")
                li Deutsch