.footer-loginPage
    .footer-loginPage__wrapper
        .footer-loginPage__language
            ul
                a(href="#")
                    li 한국어
                a(href="#")
                    li English (US)
                a(href="#")
                    li Tiếng Việt
                a(href="#")
                    li Bahasa Indonesia
                a(href="#")
                    li ภาษาไทย
                a(href="#")
                    li Español
                a(href="#")
                    li 中文(简体)
                a(href="#")
                    li 日本語
                a(href="#")
                    li Português (Brasil)
                a(href="#")
                    li Français (France)
                a(href="#")
                    li Deutsch
        .footer-loginPage__designLine
        .footer-loginPage__etc
            ul
                a(href="#")
                    li 가입하기
                a(href="#")
                    li 로그인
                a(href="#")
                    li Messenger
                a(href="#")
                    li Facebook Lite
                a(href="#")
                    li 친구 찾기
                a(href="#")
                    li 사람
                a(href="#")
                    li 프로필
                a(href="#")
                    li 페이지
                a(href="#")
                    li 페이지 카테고리
                a(href="#")
                    li 장소
                a(href="#")
                    li 게임
                a(href="#")
                    li 위치
                a(href="#")
                    li Marketplace
                a(href="#")
                    li 그룹
                a(href="#")
                    li Instagram
                a(href="#")
                    li 지역
                a(href="#")
                    li 기부 캠페인
                a(href="#")
                    li 회사소개
                a(href="#")
                    li 광고 만들기
                a(href="#")
                    li 페이지 만들기
                a(href="#")
                    li 개발자
                a(href="#")
                    li 채용 정보
                a(href="#")
                    li 개인정보처리방침
                a(href="#")
                    li 쿠키
                a(href="#")
                    li AdChoices
                a(href="#")
                    li 이용 약관
                a(href="#")
                    li 계정 보안
                a(href="#")
                    li 로그인 도움말
                a(href="#")
                    li 고객 센터
        .footer-loginPage__logo
            span
                | Facebook &copy; #{new Date().getFullYear()}
        