.header-loginPage
    .header-loginPage__wrapper
        ul.header-loginPage__logo
            h1
                a(href=routes.home)
                    | #{siteName}
        ul.header-loginPage__login
            form(action=routes.login, method="post", name="login-from", id="login-form")
                .header-loginPage__loginId
                    label(for="inputId") 아이디
                    input(type="text", name="email", id="loginId", required)
                .header-loginPage__loginPw
                    label(for="inputPw") 비밀번호
                    input(type="password", name="password", id="loginPw", required)
                .header-loginPage__login-btn
                    input(type="submit", value="로그인")
