.header
    .header__wrapper
        .header__logo
            h1.ir_su facebook
            a(href=routes.feedsMain)
                i.fab.fa-facebook
        .header__search-bar
            form
                input(type="text", name="searchWord", placeholder="Searching", autocomplete="off")#header__searchBar
                input(type="submit", value="　")#header__searchBar-btn
        .header__profile
            a(href="#")
                img(src=user.profile, alt="userProfile")
                span=user.name
        .header__subMenu
            ul.header__subMenu-friend
                a(href="#")
                    i.fas.fa-user-friends
            ul.header__subMenu-notice
                a(href="#")
                    i.fas.fa-bell
            ul.header__subMenu-logout
                a(href=routes.logout)
                    i.fas.fa-sign-out-alt