.header
    .header__wrapper
        ul.header__logo
            h1
                a(href=routes.home)
                    | #{siteName}
        ul.header__login
            form
                .header__login-box
                    label(for="inputId") 아이디
                    input(type="text", id="inputId")
                .header__login-box
                    label(for="inputPw") 비밀번호
                    input(type="text", id="inputPw")
                .header__login-btn
                    input(type="submit", value="로그인")
