.userFriends
    section.userFriends__wrapper
        header.userFriends__header
            h1 User Friends
            form
                input(type="text")
        .userFriends__body-grid
            article.userFriends__body-friendBlock
                img(src="/img/profile_male.png", alt="")
                span 김두현
                button Remove Friend
            article.userFriends__body-friendBlock
                img(src="/img/profile_male.png", alt="")
                span 김두현
                button Remove Friend