include ../mixins/waitFriendBlock

#jsHeaderFriendBgc
    #jsHeaderFriend(style="visibility: collapse")
        span Wait Friends
        if waitMyFriendList.length === 0
            include ./notFound
        each item in waitMyFriendList
            +waitFriendBlock({
                idx: item.idx,
                name: item.name,
                profile: item.profile
            })
            