.edit-profile {
  background-color: $feedBGC;
  min-height: 100vh;
  position: relative;
  top: 50px;
  .edit-profile__wrapper {
    background-color: $feedBGC;
    width: 980px;
    margin: 0 auto;
    min-height: 100vh;
    .edit-profile__box {
      .edit-profile__box-nav {
        background-color: #fff;
        overflow: hidden;
        border: #c7c7c785 solid 1px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        & > a {
          padding: 10px;
          font-size: 14px;
          line-height: 20px;
          font-weight: bold;
          transition: 0.2s;
          border-left: #c7c7c785 solid 1px;
          cursor: pointer;
          &:hover {
            background-color: $menuHover;
          }
        }
        &:first-child {
          border-left: none;
        }
      }
      .edit-profile__box-form {
        .edit-profile__box-form--backgroud-img {
          background: no-repeat center/100%;
          .edit-profile__box-form--backgroud-effect {
            background: linear-gradient(
              rgba(0, 0, 0, 0) 65%,
              rgba(0, 0, 0, 0.53)
            );
            & > img {
              width: 150px;
              height: 150px;
              border-radius: 100px;
              margin: 150px 0 10px 20px;
              background-color: #ccc;
              border: 5px solid #fff;
            }
            & > span {
              text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
              position: relative;
              left: 20px;
              bottom: 30px;
              color: #fff;
              font-size: 25px;
              font-weight: bold;
            }
          }
        }
        .edit-profile__box-form--inputs {
          display: flex;
          align-items: center;
          flex-direction: column;
          padding: 30px 50px;
          border: $grayLine solid 1px;
          background-color: white;
          & > * {
            margin-top: 20px;
            font-size: 18px;
          }
          .edit-profile__box-form--inputs-coverImg {
            & > input {
              border: $grayLine solid 1px;
              margin-left: 15px;
            }
          }
          .edit-profile__box-form--inputs-profileImg {
            & > input {
              border: $grayLine solid 1px;
              margin-left: 10px;
            }
          }
          & > input {
            margin-top: 50px;
            padding: 10px;
            border-radius: 10px;
            cursor: pointer;
            &:hover {
              background-color: $grayHover;
            }
          }
        }
      }
    }
  }
}
