.feed-main {
  background-color: $feedBGC;
  min-height: 100vh;
  position: relative;
  padding-top: 10px;
  top: 50px;
  .feed-main__wrapper {
    background-color: $feedBGC;
    width: 980px;
    margin: 0 auto;
    min-height: 100vh;
    .feed-main__gridLayout {
      display: grid;
      grid-template-columns: 4fr 2fr;
      grid-gap: 10px;
      .feed-main__gridLayout-feed {
        background-color: $feedBGC;
        min-height: 100vh;
      }
      .feed-main__gridLayout-aside {
        min-height: 100vh;
        .feed-main__aside-users {
          background-color: white;
          padding: 10px;
        }
        .feed-main__aside-ad {
        }
      }
    }
  }
}
