.feed-main {
  background-color: $feedBGC;
  position: relative;
  top: 50px;
  .feed-main__wrapper {
    background-color: $feedBGC;
    width: 980px;
    margin: 0 auto;
    padding-top: 10px;
    min-height: 100vh;
    .feed-main__gridLayout {
      display: grid;
      grid-template-columns: 2fr 4fr;
      grid-gap: 10px;
      .feed-main__gridLayout-feed {
        background-color: $feedBGC;
      }
    }
  }
}

@media (max-width: 1024px) {
  .feed-main {
    .feed-main__wrapper {
      width: 90%;
      .feed-main__gridLayout {
        .feed-main__gridLayout-feed {
        }
      }
    }
  }
}

@media (max-width: 960px) {
  .feed-main {
    .feed-main__wrapper {
      width: 90%;
      .feed-main__gridLayout {
        .feed-main__gridLayout-aside {
          & > span {
            display: none;
          }
          .feed-main__aside-ad-grid {
            // display: grid;
            // grid-template-columns: repeat(3, 1fr);
            .feed-main__aside-ad-block {
              .feed-main__aside-ad-link {
                padding: 10px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .feed-main {
    .feed-main__wrapper {
      width: 90%;
      .feed-main__gridLayout {
        grid-template-columns: 1fr;
        .feed-main__gridLayout-aside {
          .feed-main__aside-ad-grid {
            grid-template-columns: repeat(2, 1fr);
          }
        }
      }
    }
  }
}
