.feed-user {
  background-color: $feedBGC;
  min-height: 100vh;
  position: relative;
  top: 50px;
  .feed-user__wrapper {
    background-color: $feedBGC;
    width: 980px;
    margin: 0 auto;
    min-height: 100vh;
    .feed-user__info {
      .feed-user__info--backgroud-img {
        background: no-repeat center/100%;
        .feed-user__info--backgroud-effect {
          background: linear-gradient(
            rgba(0, 0, 0, 0) 65%,
            rgba(0, 0, 0, 0.53)
          );
          & > img {
            width: 150px;
            height: 150px;
            border-radius: 100%;
            margin: 150px 0 10px 20px;
            background-color: #ccc;
            border: 5px solid #fff;
          }
          & > span {
            text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
            position: relative;
            left: 20px;
            bottom: 30px;
            color: #fff;
            font-size: 25px;
            font-weight: bold;
          }
        }
      }
      .feed-user__info-subNav {
        background-color: #fff;
        overflow: hidden;
        border: #c7c7c785 solid 1px;
        & > h4 {
          display: inline-block;
          padding: 12px;
          font-size: 20px;
        }
        & > a {
          float: right;
          padding: 12px;
          font-size: 16px;
          line-height: 20px;
          font-weight: bold;
          transition: 0.2s;
          border-left: #c7c7c785 solid 1px;
          &:hover {
            background-color: $menuHover;
          }
        }
      }
    }
    .feed-user__grid-layout {
      display: grid;
      grid-template-columns: 2fr 4fr;
      grid-gap: 10px;
      padding-top: 15px;
      .feed-user__aside-users {
        background-color: white;
        padding: 10px;
      }
      .feed-user__feed {
        background-color: #bbb;
      }
    }
  }
}
