.feed-search {
  background-color: $feedBGC;
  position: relative;
  padding-top: 10px;
  top: 50px;
  .feed-search__wrapper {
    background-color: $feedBGC;
    width: 980px;
    margin: 0 auto;
    .feed-search__gridLayout {
      display: grid;
      grid-template-columns: 2fr 4fr;
      grid-gap: 10px;
      .feed-search__gridLayout-feed {
        background-color: $feedBGC;
        .feed-search__users {
          background-color: white;
          margin-bottom: 15px;
          padding: 15px;
          border-radius: 7px;
          & > h5 {
            margin-bottom: 20px;
          }
        }
        .feed-search__feeds {
          padding: 12px;
          border-radius: 7px;
          background-color: white;
          & > .feedBlock {
            border: none;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .feed-search {
    .feed-search__wrapper {
      width: 90%;
    }
  }
}

@media (max-width: 960px) {
  .feed-search {
    .feed-search__wrapper {
      .feed-search__gridLayout {
        grid-template-columns: 1fr;
        .feed-search__gridLayout-aside {
          & > span {
            display: none;
          }
          .feed-main__aside-ad-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            .feed-main__aside-ad-block {
              .feed-main__aside-ad-link {
                padding: 10px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .feed-search {
    .feed-search__wrapper {
      .feed-search__gridLayout {
        .feed-search__gridLayout-aside {
          .feed-main__aside-ad-grid {
            grid-template-columns: repeat(2, 1fr);
          }
        }
      }
    }
  }
}
