@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: "Noto Sans KR", sans-serif; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  all: unset;
  cursor: pointer; }

*,
input {
  box-sizing: border-box; }

input {
  border: none;
  box-sizing: border-box; }
  input:focus, input:active {
    outline: none; }

/* IR 효과 */
/* 1. 의미있는 이미지의 대체 텍스트를 제공하는 경우 */
.ir_pm {
  display: block;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px; }

/* 2. 의미있는 이미지의 대체 텍스트로 이미지가 보이지 않을 때 대체 텍스트가 보임*/
.ir_wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -1;
  width: 100px;
  height: 100px; }

/* 3. 대체 텍스트가 아닌 접근성을 위한 숨김 텍스트를 제공 할 때 */
.ir_su {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px; }

.font {
  font-family: "Noto Sans KR", sans-serif; }

#body__wrap {
  min-height: 100vh; }

.homePage__background {
  background: linear-gradient(white, #d3d8e8);
  padding-bottom: 20px; }
  .homePage__background .homePage__container {
    width: 980px;
    margin: 0 auto;
    display: flex; }
    .homePage__background .homePage__container .homePage__info {
      flex: 1; }
      .homePage__background .homePage__container .homePage__info > p {
        color: #0e385f;
        font-size: 20px;
        font-weight: bold;
        line-height: 29px;
        margin-top: 40px;
        width: 450px;
        word-spacing: -1px; }
    .homePage__background .homePage__container .homePage__join {
      flex: 1;
      margin: 0 30px; }
      .homePage__background .homePage__container .homePage__join .homePage__join-boxTitle {
        padding-top: 30px;
        padding-bottom: 30px; }
        .homePage__background .homePage__container .homePage__join .homePage__join-boxTitle > h4 {
          font-size: 36px;
          font-weight: 600;
          color: #333;
          padding-bottom: 15px; }
        .homePage__background .homePage__container .homePage__join .homePage__join-boxTitle > h5 {
          color: #1d2129;
          font-size: 19px;
          font-weight: 500; }
      .homePage__background .homePage__container .homePage__join .homePage__join-form {
        margin-left: 10px; }
        .homePage__background .homePage__container .homePage__join .homePage__join-form > input {
          display: inline-block;
          font-size: 20px;
          padding: 7px 10px;
          width: 100%;
          border-radius: 5px;
          border: #c9cacd solid 0.5px;
          margin-top: 10px; }
        .homePage__background .homePage__container .homePage__join .homePage__join-form > label {
          color: #1d2129;
          font-size: 19px;
          font-weight: 500;
          display: block;
          padding: 10px 0; }
        .homePage__background .homePage__container .homePage__join .homePage__join-form #homePage__join-form--birth {
          padding-bottom: 15px; }
          .homePage__background .homePage__container .homePage__join .homePage__join-form #homePage__join-form--birth > select {
            padding: 3px;
            margin: 0 3px 10px; }
        .homePage__background .homePage__container .homePage__join .homePage__join-form #homePage__join-form--sex {
          font-size: 20px; }
          .homePage__background .homePage__container .homePage__join .homePage__join-form #homePage__join-form--sex > input:nth-child(2) {
            margin-left: 10px; }
        .homePage__background .homePage__container .homePage__join .homePage__join-form #homePage__join-formTerms {
          font-size: 10px;
          color: #999;
          word-spacing: 1px;
          padding: 20px 10px;
          line-height: normal; }
        .homePage__background .homePage__container .homePage__join .homePage__join-form #homePage__join-form--btn {
          color: white;
          font-size: 20px;
          font-weight: bold;
          background: linear-gradient(#67ae55, #578843);
          background-color: #69a74e;
          box-shadow: inset 0 1px 1px #a4e388;
          border-color: #3b6e22 #3b6e22 #2c5115;
          cursor: pointer;
          margin-bottom: 10px; }
          .homePage__background .homePage__container .homePage__join .homePage__join-form #homePage__join-form--btn:hover {
            background: linear-gradient(#79bc64, #578843); }

@media (max-width: 1054px) {
  .homePage__background .homePage__container {
    width: 100%; }
    .homePage__background .homePage__container .homePage__info {
      display: none; } }

.feed-main {
  background-color: #e9ebee;
  min-height: 100vh;
  position: relative;
  top: 50px; }
  .feed-main .feed-main__wrapper {
    background-color: #e9ebee;
    width: 900px;
    margin: 0 auto;
    min-height: 100vh; }
    .feed-main .feed-main__wrapper .feed-main__gridLayout {
      display: grid;
      grid-template-columns: 4fr 2fr;
      grid-gap: 10px;
      padding: 10px; }
      .feed-main .feed-main__wrapper .feed-main__gridLayout .feed-main__gridLayout-feed {
        background-color: #e9ebee;
        min-height: 100vh; }
        .feed-main .feed-main__wrapper .feed-main__gridLayout .feed-main__gridLayout-feed .feed-main__upload {
          width: 100%;
          height: 250px;
          background-color: #aaa;
          border-radius: 7px; }
      .feed-main .feed-main__wrapper .feed-main__gridLayout .feed-main__gridLayout-ad {
        background-color: rgba(255, 255, 255, 0.8);
        min-height: 100vh; }

.header-loginPage {
  background-color: #3b5998;
  background-image: linear-gradient(#4e69a2, #3b5998 50%);
  border-bottom: 1px solid #133783;
  z-index: 1;
  padding: 5px 0 20px; }
  .header-loginPage .header-loginPage__wrapper {
    width: 980px;
    margin: 0 auto;
    overflow: hidden;
    height: 100%; }
    .header-loginPage .header-loginPage__wrapper .header-loginPage__logo {
      float: left;
      font-size: 40px;
      color: white;
      font-weight: bold;
      text-transform: lowercase;
      padding-top: 12px; }
    .header-loginPage .header-loginPage__wrapper .header-loginPage__login {
      float: right;
      text-align: left;
      padding-top: 10px; }
      .header-loginPage .header-loginPage__wrapper .header-loginPage__login form {
        display: flex; }
        .header-loginPage .header-loginPage__wrapper .header-loginPage__login form .header-loginPage__loginId,
        .header-loginPage .header-loginPage__wrapper .header-loginPage__login form .header-loginPage__loginPw {
          flex: 2;
          margin-right: -10px; }
          .header-loginPage .header-loginPage__wrapper .header-loginPage__login form .header-loginPage__loginId > label,
          .header-loginPage .header-loginPage__wrapper .header-loginPage__login form .header-loginPage__loginPw > label {
            color: white;
            display: inline-block;
            margin-bottom: 5px;
            font-size: 12px; }
          .header-loginPage .header-loginPage__wrapper .header-loginPage__login form .header-loginPage__loginId > input,
          .header-loginPage .header-loginPage__wrapper .header-loginPage__login form .header-loginPage__loginPw > input {
            padding: 5px 10px;
            font-size: 12px;
            width: 150px; }
        .header-loginPage .header-loginPage__wrapper .header-loginPage__login form .header-loginPage__loginPw {
          margin-right: -20px; }
        .header-loginPage .header-loginPage__wrapper .header-loginPage__login form .header-loginPage__login-btn {
          flex: 1;
          display: flex;
          margin-top: 18px;
          align-items: flex-end;
          justify-content: center; }
          .header-loginPage .header-loginPage__wrapper .header-loginPage__login form .header-loginPage__login-btn > input {
            background-color: #4267b2;
            border: 1px solid #ccd0d5;
            border-color: #29487d;
            border-radius: 2px;
            color: white;
            padding: 3px 7px;
            cursor: pointer; }
            .header-loginPage .header-loginPage__wrapper .header-loginPage__login form .header-loginPage__login-btn > input:hover {
              background-color: #365899;
              border-color: #29487d; }

@media screen and (max-width: 1054px) {
  .header-loginPage .header-loginPage__wrapper {
    width: 100%; }
    .header-loginPage .header-loginPage__wrapper .header-loginPage__logo {
      padding-left: 30px; }
    .header-loginPage .header-loginPage__wrapper .header-loginPage__login .header-loginPage__loginId > input,
    .header-loginPage .header-loginPage__wrapper .header-loginPage__login .header-loginPage__loginPw > input {
      width: 130px; } }

@media screen and (max-width: 768px) {
  .header-loginPage .header-loginPage__wrapper .header-loginPage__logo {
    padding-left: 0;
    width: 100%;
    text-align: center; }
  .header-loginPage .header-loginPage__wrapper .header-loginPage__login {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-left: 40px;
    padding-top: 25px; } }

.footer-loginPage {
  width: 980px;
  margin: 0 auto;
  padding: 30px; }
  .footer-loginPage .footer-loginPage__wrapper .footer-loginPage__language {
    padding-top: 20px;
    padding-bottom: 10px; }
    .footer-loginPage .footer-loginPage__wrapper .footer-loginPage__language ul > a {
      display: inline-block;
      padding-left: 10px;
      width: auto;
      color: #365899;
      font-size: 12px; }
  .footer-loginPage .footer-loginPage__wrapper .footer-loginPage__designLine {
    width: 100%;
    height: 1px;
    background-color: #ccc; }
  .footer-loginPage .footer-loginPage__wrapper .footer-loginPage__etc ul > a {
    display: inline-block;
    padding-right: 20px;
    padding-top: 10px;
    width: auto;
    color: #365899;
    font-size: 12px; }
  .footer-loginPage .footer-loginPage__wrapper .footer-loginPage__etc :nth-child(28) {
    padding-right: 15px; }
  .footer-loginPage .footer-loginPage__wrapper .footer-loginPage__logo > span {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 11px;
    color: #737373; }

@media screen and (max-width: 1054px) {
  .footer-loginPage {
    width: 100%; } }

.header {
  background-color: #3b5998;
  background-image: linear-gradient(#4e69a2, #3b5998 50%);
  border-bottom: 1px solid #133783;
  padding: 0 0 6px;
  height: 50px;
  z-index: 1;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%; }
  .header .header__wrapper {
    width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px; }
    .header .header__wrapper .header__logo {
      font-size: 30px;
      color: white;
      text-transform: lowercase;
      padding-bottom: 10px;
      transition: 0.2s; }
      .header .header__wrapper .header__logo > a {
        position: relative;
        top: 4px; }
      .header .header__wrapper .header__logo:hover {
        color: rgba(255, 255, 255, 0.8); }
    .header .header__wrapper .header__search-bar #header__searchBar {
      min-width: 150px;
      width: 500px;
      font-size: 16px;
      padding: 5px 10px;
      border-radius: 5px 0 0 5px; }
    .header .header__wrapper .header__search-bar #header__searchBar-btn {
      width: 50px;
      position: relative;
      top: -0.5px;
      padding: 6.5px 10px;
      border-radius: 0 2px 2px 0;
      background: #eee url(https://img.icons8.com/cotton/64/000000/search.png) center no-repeat;
      background-size: 25px 25px;
      cursor: pointer; }
      .header .header__wrapper .header__search-bar #header__searchBar-btn:hover {
        background-color: #ddd; }
    .header .header__wrapper .header__profile > a {
      display: flex;
      align-items: center; }
      .header .header__wrapper .header__profile > a > img {
        width: 30px;
        height: 30px;
        border-radius: 13px;
        background-color: #ccc; }
      .header .header__wrapper .header__profile > a > span {
        margin-left: 10px;
        color: white;
        font-size: 17px;
        position: relative;
        top: -2px;
        transition: 0.2s; }
      .header .header__wrapper .header__profile > a:hover > span {
        color: rgba(255, 255, 255, 0.8); }
    .header .header__wrapper .header__subMenu {
      display: flex;
      justify-content: space-between; }
      .header .header__wrapper .header__subMenu > ul {
        margin-left: 25px; }
        .header .header__wrapper .header__subMenu > ul .fas {
          font-size: 25px;
          transition: 0.2s; }
          .header .header__wrapper .header__subMenu > ul .fas:hover {
            color: white; }
          .header .header__wrapper .header__subMenu > ul .fas .header__subMenu-friend {
            margin-left: 0; }

.feedBlock {
  border: #ddd solid 1px;
  border-radius: 7px;
  margin-top: 15px;
  background-color: #fff; }
  .feedBlock .feedBlock__header {
    display: grid;
    grid-template-columns: 2fr 17fr 1fr;
    padding: 10px; }
    .feedBlock .feedBlock__header #feedBolck-url-img {
      width: 60px;
      height: 60px;
      border-radius: 25px; }
    .feedBlock .feedBlock__header .feedBlock__header-grid {
      height: 100%;
      display: grid;
      grid-template-rows: 1fr 1fr; }
      .feedBlock .feedBlock__header .feedBlock__header-grid span {
        margin-left: 10px;
        line-height: 30px; }
    .feedBlock .feedBlock__header #feedBolck-btn > i {
      float: right;
      font-size: 20px;
      cursor: pointer;
      color: #000000a1; }
    .feedBlock .feedBlock__header #feedBolck-btn :hover {
      color: black; }
  .feedBlock .feedBlock__body > span {
    display: block;
    padding: 10px; }
  .feedBlock .feedBlock__body .feedBlock__body-img > img {
    width: 600px;
    height: 600px; }
  .feedBlock .feedBlock__footer {
    padding: 10px; }
    .feedBlock .feedBlock__footer > img {
      width: 16px;
      height: 16px;
      margin-left: 10px; }
    .feedBlock .feedBlock__footer .feedBlock__footer-like {
      margin-left: 5px; }
    .feedBlock .feedBlock__footer .feedBlock__footer-comment {
      float: right;
      margin-right: 5px; }
    .feedBlock .feedBlock__footer .feedBlock__designLine {
      margin: 10px 0;
      width: 100%;
      height: 1px;
      background-color: #ccc; }
    .feedBlock .feedBlock__footer .feedBlock__footer-btn {
      display: grid;
      grid-template-columns: 1fr 1fr; }
      .feedBlock .feedBlock__footer .feedBlock__footer-btn > button {
        background-color: transparent;
        border: none;
        padding: 5px;
        cursor: pointer;
        transition: 0.2s; }
        .feedBlock .feedBlock__footer .feedBlock__footer-btn > button > i,
        .feedBlock .feedBlock__footer .feedBlock__footer-btn > button span {
          font-size: 16px; }
        .feedBlock .feedBlock__footer .feedBlock__footer-btn > button > span {
          margin-left: 5px; }
        .feedBlock .feedBlock__footer .feedBlock__footer-btn > button:hover {
          background-color: #e9ebee8a; }
