// Color

$mainColor: #3b5998;
$hoverColor: rgba(255, 255, 255, 0.8);
$feedBGC: #e9ebee;
$menuHover: #e2f1ff;
$grayHover: #c7c7c785;
$grayLine: #c9c9c9;
$lightGrayLine: #9c9c8c5c;
$lightGrayColor: #f5f6f7;
