<!DOCTYPE html>
html(lang="ko")
    head
        //- meta-data
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="Duveloper")
        meta(name="description", content="Facebook")
        meta(name="keywords", content="친구, 친목, 사진, SNS")
        //- Title
        title #{pageTile} | #{siteName}
        //- Link
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.8.1/css/all.css", integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf", crossorigin="anonymous")
        link(href="https://fonts.googleapis.com/css?family=Fredericka+the+Great", rel="stylesheet")
        link(rel="stylesheet", href="/static/styles.css")
    body#body__wrap
        header
        if !user || null
            include ../partials/headerLogin.pug
        else
            include ../partials/header.pug
        main
            block content
        footer
        if !user || null
            include ../partials/footerLogin.pug
        else
            include ../partials/footer.pug
        script(src="/static/main.js")